.Header {
    position: fixed;
    width: 1600px;
    height: 900px;
    top: 1px;
    background: url(../backgrounds/video.png);
}
.LOGO {
    position: fixed;
    left: 42.79%;
    right: 42.62%;
    top: 0%;
    bottom: 0.54%;
}
.Instagram {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 1129px;
    top: 40px;
}
.Facebook {
    position: fixed;
    width: 19.59px;
    height: 20px;
    left: 1079px;
    top: 40px;
}
.Search {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 1179px;
    top: 40px;
}
.Clock {
    position: fixed;
    width: 20.02px;
    height: 20px;
    left: 790px;
    top: 40px;

}
.WorkingHours {
    position: fixed;
    height: 20px;
    left: 815px;
    top: 40px;
    
    font-family: Lato;
    font-size: 11px;
    line-height: 10px;

    color: white;
}
.Shape {
    position: fixed;
    left: 150px;
    right: 98.39%;
    top: 40px;
    bottom: 41.84%;
    color: white;
}
.tel {
    position: fixed;
    left: 200px;
    right: 87.98;
    top: 40px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
}